<div class="container">
  <h1> Create a list that won't get sent to the CIA </h1>
    <div class="row justify-content-center">
      <h2> List </h2>
        <%= simple_form_for [@list] do |f| %>
          <%= f.input :name, label: "Enter your list name:" %>
          <%= f.submit %>
        <% end %>
        </div>
</div>
